
    <div class="row-container" resizable
         r-directions="['bottom']"
         r-flex="true">

	     <div class="main-container" resizable
	          r-directions="['left', 'right']"
	          r-flex="true">
			  	<div class="nav">NAVIGATION</div>
			  	<div class="main">
			  		<div class="sidebar" ng-class="{inactive: vm.sidebarIsInactive}"><p>Sidebar<p></div>
					<div class="content" id="blockContainer">
						<div ng-repeat="block in vm.blocks track by $index" class="block {{vm.blocks[$index]}}" ng-click="vm.blockClick($index)">
							<div>
								<p>Block {{ $index+1 }}</p>
								<p class="status">Is Active!</p>
							</div>
						</div>
						<a class="btn toggle" ng-class="{toggled: !vm.sidebarIsInactive}" ng-click="vm.toggleSidebar()">&gt;</a>
					</div>
			  	</div>
	     </div>
    </div>