@import "variables";

body {
    font-size: 16px;
	margin: 0;
}

.animatable {
	transition: all 0.5s ease-in-out;
}

.wrapper {
    background: $backgroundColor;
	height:100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	
	.row-container {
		display: flex;
		height: 80%;
		width: 100%;
		
		.main-container {
			background-color: green;
			display: flex;
			margin: 0 auto;
			height: 100%;
			width: 70%;
			color: white;
			position: relative;
			padding-top: 50px;
			
			.nav {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 50px;
				line-height: 50px;
				background-color: #f9b196;
				text-align: center;
				z-order: 9999;
			}
			.main {
				width: 100%;
				background-color: #ffeeee;
				display: flex;
				flex-flow: row wrap;
				
				.sidebar {
					@extend .animatable;
					background-color: #293637;
					width: 25%;
					text-align: center;
					overflow: hidden;
					> p {
						line-height: 30px;
						text-transform: uppercase;
					}
					&.inactive {
						width: 0;
					}
				}
				
				.content {
					@extend .animatable;
					position: relative;
					flex-grow: 1;
					display: flex;
					flex-direction: column;
					
					.toggle {
						position: absolute;
						left: 10px;
						top: 10px;
						width: 36px;
						height: 36px;
						background-color: #fff;
						border-radius: 50%;
						line-height: 20px;
						z-index: 999;
						font-size: 12px;
						font-weight: 700;
						color: #333;
						&.toggled {
							transform: rotate(180deg);
						}
					}
					
					.block {
						@extend .animatable;
						position: relative;
						cursor: pointer;
						overflow: hidden;
						flex-grow: 1;
						&:nth-child(1) {
							background-color: #f67381;
						}
						&:nth-child(2) {
							background-color: #c36b85;
						}
						&:nth-child(3) {
							background-color: #6d5b7b;
						}
						&:nth-child(4) {
							background-color: #365d7e;
						}
						> div {
							position: absolute;
						    top: 50%;
						    left: 50%;
						    transform: translate(-50%, -50%);
							text-align: center;
							>p {
								display: block;
								text-transform: uppercase;
								line-height: 22px;
								&.status {
									font-size: 14px;
									transition: none;
									opacity: 0;
									margin-bottom: -22px;
								}
							}
						}
						&.active {
							> div > p.status {
								transition: all 0.3s ease-in;
								transition-delay: 0.5s;
								opacity: 0.5;
							}
						}
						&.inactive {
							flex-grow: 0;
						}
					}
				}
			}
		}
	}
}

